*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 36);
}
.loader
{
    position: relative;
    width: 600px;
    height: 6px;
    background-color:rgb(94 96 113 / 79%);

}

.loader::before
{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgba(172, 255, 47, 0.548);
    
    animation: animate 8s linear infinite ;
}
@keyframes animate {
    0%,20%
    {
        transform: scaleX(0);
        transform-origin: left;
    }
    40%
    {
        transform: scaleX(1);
        transform-origin: left;
    }
    40.00000001%,60%
    {
        transform: scaleX(1);
        transform-origin: right;
    }
    100%
    {
        transform: scaleX(0);
        transform-origin: right;

    }
}
.loader::after
{
    content: "";
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    background: rgba(172, 255, 47, 0.548);
    transform: translatey(-50%);
    border-radius: 50%;
    animation: animatedot 8s linear infinite  ;
}
@keyframes animatedot {
    0%
    {
        transform: translateY(-50%) scale(0);
    }
    5%{
        transform:translateY(-50%) scale(1); 
    }
    15%,20%
    {
        transform: translateY(-50%) scale(1);
        box-shadow: 0 0 0 4px green,
        0 0 0 10px rgb(15, 138, 15),
        0 0 40px 20px rgb(4, 190, 4),
        0 0 20px 5px rgb(30, 206, 30);
    }
    40%{
        transform:translateY(-50%) scale(1) translateX(595px);
    }
    80%
    {
        transform: translateY(-50%) scale(1) translateX(595px);
        box-shadow: none;
        
    }
    100%
    {
        transform:translateY(-50%) scale(0) translateX(595px);
    }
}